*{
    margin: 0;
    padding: 0;
}

header,
footer {
  width: 100%;
  height: 15vh;
  border: 1px solid black;
  background: black;
  color: white;
}

main {
  width: 100%;
}

aside {
  border: 1px solid black;
}

/* Código da aula */

body{
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
    justify-content: space-between;
}

/* outra forma (forma mais simples) */

/* main{
    height: 70vh;
} */

header{
    display: grid;
    grid-template-columns: 10% 1fr 10% ;
    justify-items: end;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.content-container article{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
}

.gallery{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 10px;
    margin: 5px;
    align-items: center;
}